@{
    ViewData["Title"] = "Update Products";
}

@model Product

<h1 class="bg-info text-white">Update Products</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group" id="tagsContainer">
        <label asp-for="Tags"></label>
        @if (Model.Tags != null)
        {
            for (int i = 0; i < Model.Tags.Count; i++)
            {
                <div><input name="Tags" id="Tags" value="@Model.Tags.ElementAt(i)" class="form-control" /><span role="button" class="badge rounded-pill text-bg-info" onclick="RemoveTags(this);">Remove</span></div>
            }
        }
    </div>
    <button onclick="AddTags(); return false;">Add Tags</button>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

<script>

    function AddTags() {
        let inputElement = document.createElement("input");
        inputElement.setAttribute("name", "Tags");
        inputElement.setAttribute("id", "Tags");
        inputElement.setAttribute("class", "form-control");

        let spanElement = document.createElement("span");
        spanElement.setAttribute("role", "button");
        spanElement.setAttribute("class", "badge rounded-pill text-bg-info");
        spanElement.setAttribute("onclick", "RemoveTags(this);");
        spanElement.innerText="Remove";


        let divElement = document.createElement("div");
        divElement.append(inputElement, spanElement);

        document.getElementById("tagsContainer").append(divElement);
        // document.getElementById("tagsContainer").appendChild("<input name=\"Tags\" id=\"Tags\" class=\"form-control\" />");
    }

    function RemoveTags(e) {
        e.parentElement.remove();
    }

</script> 