@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Check the Below Links:</h1>
    <h2>Tutorial Link - <a target="_blank" href="https://www.yogihosting.com/value-converters-comparers-entity-framework-core/" rel="noopener noreferrer">Value Converters and Comparers in Entity Framework Core</a></h2>
    <h6>1. Example of Value Converters and Value Comparers saving comma separated tags "men trousers, men pants, formal trouser, white formal trouser" in the database. Then during reading converting them to List&lt;string></h6>
    <ul class="list-group">
        <li class="list-group-item bg-warning"><a asp-controller="Product" asp-action="Index">Product</a></li>
    </ul>
    <h6>2. Conversions from enum values to strings in the database and from strings to enums while reading.</h6>
    <ul class="list-group">
        <li class="list-group-item bg-warning"><a asp-controller="Marketing" asp-action="Index">Marketing</a></li>
    </ul>
    <h6>3. Built-in Converters</h6>
    <ul class="list-group">
        <li class="list-group-item bg-warning"><a asp-controller="Student" asp-action="Index">Student</a></li>
    </ul>
    <h6>3. Composite value objects</h6>
    <ul class="list-group">
        <li class="list-group-item bg-warning"><a asp-controller="Order" asp-action="Index">Order</a></li>
    </ul>
</div>

<div class="text-center">
    <h1 class="display-5">This tutorial is a part of <b>Entity Framework Core</b> series.</h1>
    <ul class="list-group">
        <li class="list-group-item">1. <a target="_blank" href="https://www.yogihosting.com/introduction-entity-framework-core/" rel="noopener noreferrer">Introduction to Entity Framework Core</a></li>
        <li class="list-group-item">2. <a target="_blank" href="https://www.yogihosting.com/install-entity-framework-core/" rel="noopener noreferrer">Installation of Entity Framework Core</a></li>
        <li class="list-group-item">3. <a target="_blank" href="https://www.yogihosting.com/database-first-approach-entity-framework-core/" rel="noopener noreferrer">Database-First approach in Entity Framework Core</a></li>
        <li class="list-group-item">4. <a><a target="_blank" href="https://www.yogihosting.com/dbcontext-entity-framework-core/">DbContext Class in Entity Framework Core</a></li>
        <li class="list-group-item">5. <a target="_blank" href="https://www.yogihosting.com/code-first-entity-framework-core/" rel="noopener noreferrer">Code-First Approach in Entity Framework Core</a></li>
        <li class="list-group-item">6. <a target="_blank" href="https://www.yogihosting.com/migrations-entity-framework-core/" rel="noopener noreferrer">Migrations in Entity Framework Core</a></li>
        <li class="list-group-item">7. <a target="_blank" href="https://www.yogihosting.com/insert-records-entity-framework-core/" rel="noopener noreferrer">Insert Records in Entity Framework Core</a></li>
        <li class="list-group-item">8. <a target="_blank" href="https://www.yogihosting.com/read-records-entity-framework-core/" rel="noopener noreferrer">Read Records in Entity Framework Core</a></li>
        <li class="list-group-item">9. <a target="_blank" href="https://www.yogihosting.com/update-records-entity-framework-core/" rel="noopener noreferrer">Update Records in Entity Framework Core</a></li>
        <li class="list-group-item">10. <a target="_blank" href="https://www.yogihosting.com/delete-records-entity-framework-core/" rel="noopener noreferrer">Delete Records in Entity Framework Core</a></li>
        <li class="list-group-item">11. <a target="_blank" href="https://www.yogihosting.com/conventions-entity-framework-core/" rel="noopener noreferrer">Conventions in Entity Framework Core</a></li>
        <li class="list-group-item">12. <a target="_blank" href="https://www.yogihosting.com/configurations-entity-framework-core/" rel="noopener noreferrer">Configurations in Entity Framework Core</a></li>
        <li class="list-group-item">13. <a target="_blank" href="https://www.yogihosting.com/fluent-api-entity-framework-core/" rel="noopener noreferrer">Fluent API in Entity Framework Core</a></li>
        <li class="list-group-item">14. <a target="_blank" href="https://www.yogihosting.com/fluent-api-one-to-many-relationship-entity-framework-core/" rel="noopener noreferrer">Configure One-to-Many relationship using Fluent API in Entity Framework Core</a></li>
        <li class="list-group-item">15. <a target="_blank" href="https://www.yogihosting.com/fluent-api-one-to-one-relationship-entity-framework-core/" rel="noopener noreferrer">Configure One-to-One relationship using Fluent API in Entity Framework Core</a></li>
        <li class="list-group-item">16. <a target="_blank" href="https://www.yogihosting.com/fluent-api-many-to-many-relationship-entity-framework-core/" rel="noopener noreferrer">Configure Many-to-Many relationship using Fluent API in Entity Framework Core</a></li>
        <li class="list-group-item">17. <a target="_blank" href="https://www.yogihosting.com/raw-sql-queries-entity-framework-core/" rel="noopener noreferrer">Execute Raw SQL Queries using FromSqlRaw() method in Entity Framework Core</a></li>
        <li class="list-group-item">18. <a target="_blank" href="https://www.yogihosting.com/stored-procedures-entity-framework-core/" rel="noopener noreferrer">Execute SQL Stored Procedures using FromSqlRaw() &amp; ExecuteSqlRawAsync() methods in Entity Framework Core</a></li>
        <li class="list-group-item">19. <a target="_blank" href="https://www.yogihosting.com/xaero-project-entity-framework-core/" rel="noopener noreferrer">Xaero – Entity Framework Core Advanced Project</a></li>
        <li class="list-group-item">20. <a target="_blank" href="https://www.yogihosting.com/value-converters-comparers-entity-framework-core/" rel="noopener noreferrer">Value Converters and Comparers in Entity Framework Core</a></li>
    </ul>
</div>
